

/*  Flyout menus */

/*
ul.nav li.dropdown:hover ul.dropdown-menu{
    display: block; 
    margin-top: -5px;   
}

ul.nav ul.dropdown-menu li.dropdown-submenu ul.dropdown-menu {
    display: none;    
}

*/
@media (max-width: 980px) {
	ul.nav ul.dropdown-menu li.dropdown-submenu:hover ul.dropdown-menu {
	    display: none;
	}
}

/*
ul.nav ul.dropdown-menu li.dropdown-submenu ul.dropdown-menu li.dropdown-submenu ul.dropdown-menu {
    display: none;    
}
ul.nav ul.dropdown-menu li.dropdown-submenu ul.dropdown-menu li.dropdown-submenu:hover ul.dropdown-menu {
    display: block;    
}
*/

/* Search*/
div.search form {
	margin-bottom: 0px;
}

label.element-invisible {
	display: none;
}

#phpbb dt {
font-weight: normal;
}
#phpbb dt, dd {
line-height: 16px;
}

#phpbb * {
line-height: normal;
}

#phpbb [class^="icon-"] {
height: initial;
}

#phpbb select {
width: initial;
height: initial;
}

#phpbb input[type="text"]{
	height: initial;
}

#phpbb label {
display: initial;
font-size: inherit;
}

/* Hide the home icon phpBB has its own*/
.icon-home:before {
content: "";
}


/*more phpBB*/
/* tweeks to force the page to asingle column early */
@media (max-width: 979px) and (min-width: 768px) {

	.phpbb-layout { 
		float: none;
		min-height: 1px;
		margin-left: 20px;
		width: 100%;
	}

	body #phpbb {
		margin-left: 20px!important;
	}

	div#aside.span3.phpbb-layout div.pad-aside {
		padding-right: 25px;
	}
}

div#menu {
	padding-left: 5px;
	padding-right: 5px;
}

.navbar {
	margin-bottom: 0px;
}

.breadcrumb {
	margin-left: 5px;
	margin-right: 5px;
}

.bg{
	background-color: #fff;
}


@media (min-width: 980px){
	.pad-main {
		padding-left: 20px;
		padding-right: 0px;
		padding-bottom: 10px;
	}	
	.pad-aside {
		padding-left: 0px;
		padding-right: 10px;
		padding-bottom: 10px;
	}	
}

@media (max-width: 979px){
	.pad-main {
		padding-left: 5px;
		padding-right: 5px;
		padding-bottom: 5px;
	}	
	.pad-aside {
		padding-left: 5px;
		padding-right: 5px;
		padding-bottom: 5px;
	}
}

body {
	min-width: 540px;
}
/* end of phpBB stuff*/

/* remove padding once menu colapses (tablets and mobiles) */
@media (max-width: 767px){
	body {
	padding-left: 0px;
	padding-right: 0px;
	}
}

.banner {
	padding-top: 10px;
	padding-bottom: 10px;
	
}

.banneritem img {
	display: block;
	margin-left:auto;
	margin-right:auto;
	height: 80px
}

