
/* Facebook */
 #phpbb .facebook-box {
    margin-top: 2px;
    margin-left: 5px;
    float: left;
}

/* twitter */
 #phpbb .tweet-box {
    margin-top: 4px;
    margin-left: 5px;
    float: left;
}
