@CHARSET "UTF-8";
.ukrgbmap {
	
    height: 400px;  
    
    border: 1px solid #ccc;
}

.olControlAttribution {
    bottom: 0px!important;
}

.olPopup * {
    margin: 0px;
    padding:0px;
    font-size: 12px;
}


/* .olFramedCloudPopupContent {
	top :10px;
} */
