<?xml version="1.0" encoding="UTF-8"?>
<config>
	<fieldset name="paypal_config" label="PayPal Settings"
		description="Configuration settings for the Donate Button within the UKRGB Component">
		<field name="identity_token" type="text"
			default="Identity token."
			label="Identity Token"
			description="Payment Data Transfer (PDT) Identity Token"
			size="60"
			maxlength="60">
		</field>
		<field name="hosted_button_id" type="text"
			default="button_id"
			label="Hosted Button ID"
			description="Hosted Button ID of the button donate button"
			size="14"
			maxlength="14">
		</field>
	</fieldset>
</config>