<?xml version="1.0" encoding="UTF-8"?>

<config>
	<fieldset name="component" label="UKRGB Component"
		description="Maps, Enents, etc.">
	</fieldset>
	<fieldset name="permissions" description="JCONFIG_PERMISSIONS_DESC"
		label="JCONFIG_PERMISSIONS_LABEL">
		<field name="rules" type="rules" component="com_ukrgb" filter="rules"
			validate="rules" label="JCONFIG_PERMISSIONS_LABEL" section="component" />
	</fieldset>
	

	
</config>
